@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-primary: 'Hind Siliguri', ui-sans-serif, system-ui, sans-serif;
  --color-headerBg : #FAFCFA;
  --color-stroke : #F0F5F0;
  --color-dark : #1D271F ;
  --color-green : #05893E;
}